
<div style="float: right">
    <button mat-icon-button>
        <mat-icon aria-label="Edit" matTooltip="Uredi meni" (click)="editMenu()">edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="Remove" matTooltip="Obriši meni" (click)="deleteMenu()">delete_forever</mat-icon>
      </button> 
      <button mat-icon-button >
        <mat-icon aria-label="Users" matTooltip="Korisnice" (click)="editUsers()" matBadge="{{menu.users ? menu.users.length : 0}}">people</mat-icon>
      </button>       
</div>

<div style="width: 60%" align="center">
  <app-menu-calendar [menu]="menu"></app-menu-calendar>
</div>
