
<div style="float: right">
    <button mat-icon-button>
        <mat-icon aria-label="Edit" matTooltip="Uredi meni" (click)="editMenu()">edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="Remove" matTooltip="Obriši meni" (click)="deleteMenu()">delete_forever</mat-icon>
      </button> 
      <button mat-icon-button >
        <mat-icon aria-label="Users" matTooltip="Korisnice" (click)="editUsers()" matBadge="{{menu.menuDays.length}}">people</mat-icon>
      </button>       
</div>
<p>
  menu-details works! {{menu.name}}
</p>
