<h1 mat-dialog-title>Korisnice menija</h1>

<div style="width:48%; float:left"
cdkDropList
#todoList="cdkDropList"
[cdkDropListData]="data.menuUsers"
[cdkDropListConnectedTo]="[doneList]"
class="example-list"
(cdkDropListDropped)="drop($event)">
<button mat-raised-button color="primary" class="example-margin" *ngFor="let user of data.menuUsers" cdkDrag>{{user.name}}</button>
</div>

<div style="width:48%; float:right"
cdkDropList
#doneList="cdkDropList"
[cdkDropListData]="data.otherUsers"
[cdkDropListConnectedTo]="[todoList]"
class="example-list"
(cdkDropListDropped)="drop($event)">
<button mat-raised-button color="primary" class="example-margin" *ngFor="let user of data.otherUsers" cdkDrag>{{user.name}}</button>
</div>   


  

<div mat-dialog-actions style="float: right">
    <button mat-button (click)="onNoClick()">Odustani</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>