<p>
  <button mat-icon-button>
      <mat-icon aria-label="Refresh" (click)="getUsers()" matTooltip="Učitaj korisnice">autorenew</mat-icon>
  </button>

  <button mat-icon-button *ngIf="users">
      <mat-icon aria-label="Add" (click)="addUser()" matTooltip="Dodaj korisnicu">add_circle_outline</mat-icon>
  </button>

</p>

<p>
    <mat-accordion class="example-headers-align">
        <div *ngFor="let user of users">
            <p>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p><b>{{user.name}}</b></p>
                        </mat-panel-title>
                        <mat-panel-description>
                            <p></p>
                            <p></p>                            
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-user-details
                    [user]="user"
                    [allMenus]="allMenus"
                    [allTrainings]="allTrainings"
                    [allRoles]="allRoles"
                    (deleteRequest)="deleteUser($event)"
                    (updateMenusRequest)="editUserMenus($event)"
                    (updateTrainingsRequest)="editUserTrainings($event)"
                    (updateRolesRequest)="editUserRoles($event)"
                    ></app-user-details>                    
                </mat-expansion-panel>
            </p>
        </div>
    </mat-accordion>
</p>
