<p>
  <button mat-icon-button>
      <mat-icon aria-label="Refresh" (click)="getUsers()" matTooltip="Učitaj korisnice">autorenew</mat-icon>
  </button>

  <button mat-icon-button *ngIf="users">
      <mat-icon aria-label="Add" (click)="addUser()" matTooltip="Dodaj korisnicu">add_circle_outline</mat-icon>
  </button>

</p>

<mat-table [dataSource]="users" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Ime i prezime</mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="menus">
    <mat-header-cell *matHeaderCellDef>Meni</mat-header-cell>
    <mat-cell *matCellDef="let user"> 
        <mat-chip-list *ngFor="let menu of user.menus">
            <mat-chip>{{menu.name}}</mat-chip>&nbsp;
        </mat-chip-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="trainings">
    <mat-header-cell *matHeaderCellDef>Trening</mat-header-cell>
    <mat-cell *matCellDef="let user">
        <mat-chip-list *ngFor="let training of user.trainings">
            <mat-chip>{{training.name}}</mat-chip>&nbsp;
        </mat-chip-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="roles">
    <mat-header-cell *matHeaderCellDef>Uloga</mat-header-cell>
    <mat-cell *matCellDef="let user">
        <mat-chip-list *ngFor="let role of user.roles">
            <mat-chip>{{role.name}}</mat-chip>&nbsp;
        </mat-chip-list>      
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
