<div *ngIf="user">
  <p>
    <button mat-raised-button [matMenuTriggerFor]="menu"><b>{{user.name}}</b></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editUser()">Osobni podaci</button>
      <button mat-menu-item>Promjena lozinke</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>

    <button mat-icon-button>
        <mat-icon aria-label="Refresh" (click)="getUser()" matTooltip="Osvježi">autorenew</mat-icon>
    </button>    
  </p>
</div>

<div *ngIf="user">
  <mat-accordion class="example-headers-align">

    <div *ngFor="let menu of user.menus">
      <p>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p><b>Meni "{{menu.name}}"</b></p>
            </mat-panel-title>
            <mat-panel-description>
              <p><b>{{menu.currentName}}</b></p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ckeditor class="mat-body" [config]="{ toolbar: [ ] }" [(ngModel)]="menu.currentContent" [editor]="Editor" (ready)="onReady($event)"></ckeditor>
        </mat-expansion-panel>
      </p>
    </div>

    <div *ngFor="let training of user.trainings">
      <p>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p><b>Trening "{{training.name}}"</b></p>
            </mat-panel-title>
            <mat-panel-description>
              <p><b>{{training.currentName}}</b></p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ckeditor class="mat-body" [config]="{ toolbar: [ ] }" [(ngModel)]="training.currentContent" [editor]="Editor" (ready)="onReady($event)"></ckeditor>
        </mat-expansion-panel>
      </p>
    </div>

    <p>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p><b>Mjerenja</b></p>
          </mat-panel-title>
          <mat-panel-description>
            <p><b></b></p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-icon-button>
          <mat-icon aria-label="Add" (click)="addMeasurement()" matTooltip="Dodaj mjerenj">add_circle_outline</mat-icon>
        </button>
        <app-measurement-list 
        (deleteRequest)="deleteMeasurement($event)"
        (updateRequest)="updateMeasurement($event)"
        [measurements]="measurements"></app-measurement-list>
      </mat-expansion-panel>
    </p>

  </mat-accordion>
</div>