<mat-toolbar color="primary" *ngIf="currentUser">
    <nav>
        <button class="mymargin" mat-raised-button color="accent" routerLink="/home" routerLinkActive="active">Fit Mama</button>
        <button class="mymargin" mat-raised-button color="accent" routerLink="/user/{{currentUser.id}}" routerLinkActive="active" *ngIf="isUser">Moj Fit</button>
        
        <button class="mymargin" mat-raised-button color="accent" routerLink="/users" routerLinkActive="active" *ngIf="isAdmin">Korisnice</button>
        <button class="mymargin" mat-raised-button color="accent" routerLink="/trainings" routerLinkActive="active" *ngIf="isExerciseAdmin">Treninzi</button>
        <button class="mymargin" mat-raised-button color="accent" routerLink="/menus" routerLinkActive="active" *ngIf="isMenuAdmin">Meni</button>
        <button class="mymargin" mat-raised-button color="accent" routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin">Admin</button> 
        <button class="mymargin" mat-raised-button color="accent" (click)="logout()">Odjava</button>

    </nav>
</mat-toolbar>

<router-outlet></router-outlet>