
<mat-toolbar color="primary">
    <nav>
        <button mat-raised-button color="accent" routerLink="/user/1">Moj Fit</button>&nbsp;
        <button mat-raised-button color="accent" routerLink="/users">Korisnice</button>&nbsp;
        <button mat-raised-button color="accent" routerLink="/exercises">Vježbe</button>&nbsp;
        <button mat-raised-button color="accent" routerLink="/menus">Meni</button>&nbsp;
        <button mat-raised-button color="accent" routerLink="/admin">Administracija</button>
    </nav>
</mat-toolbar>

<router-outlet></router-outlet>

