
<p>
    <button mat-icon-button>
        <mat-icon aria-label="Refresh" (click)="getMenus()" matTooltip="Učitaj menije">autorenew</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon aria-label="Add" (click)="addMenu()" matTooltip="Dodaj meni">add_circle_outline</mat-icon>
    </button>

</p>

<p>
    <mat-accordion class="example-headers-align">
        <div *ngFor="let menu of menus">
            <p>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <p><b>{{menu.name}}</b></p>
                        </mat-panel-title>
                        <mat-panel-description>
                            <p></p>
                            <p>Click to open</p>                            
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-menu-details 
                    [menu]="menu"
                    (deleteRequest)="deleteMenu($event)"
                    (updateRequest)="updateMenu($event)"
                    (updateUsersRequest)="updateMenuUsers($event)"
                    ></app-menu-details>                    
                </mat-expansion-panel>
            </p>
        </div>
    </mat-accordion>
</p>
