<h1 mat-dialog-title>{{data.title}} {{data.day | date: 'd.M.yyyy'}}</h1>

<div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="data.name" placeholder="kratak opis">
    </mat-form-field>
</div>

<ckeditor class="mat-body" [(ngModel)]="data.content" [editor]="Editor" (ready)="onReady($event)"></ckeditor>

<div mat-dialog-actions style="float: right">
    <button mat-button (click)="onNoClick()">Odustani</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
